.action{
    display: inline-flex;
    align-items: center;
    color: #fff;;
    font-size: 20px;
    font-family: "Fira Code",Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    padding: 5px 3px;/*idk if it's right but instead of using padding and border radius in the hover propieties 
    i used them here. And it's worked*/
    border-radius: 2px;/*to round the corner border*/
    transition: 100ms linear;
 }
.action::before{
    content: "";
    background-color: rgb(255, 192, 97, 1);
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
.action:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(149, 74, 235); 
    scale: 1.2;
}