.button{
    display: inline-block;
    background-color: rgb(255, 192, 97, 1);
    padding: 18px 20px;
    box-shadow: 5px 5px 0 rgb(216, 155, 86);
    margin-right: 0px;
    transition: 100ms cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size: 20px;
    color: white;
    font-weight: 500;
    text-decoration: none;
}
.button:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(149, 74, 235); 
    box-shadow: 5px 5px 0 rgb(66, 62, 134);
    scale: 1.1;
}